apiVersion: v1
kind: Pod
metadata:
  name: busybox3
  namespace: default
spec:
  containers:
  - name: busybox
    image: busybox
    resources:
        requests:
          cpu: "100m"
          memory: "128Mi"
        limits:
          cpu: "500m"
          memory: "256Mi"
    command:
      - sleep
      - "3600" 
  nodeSelector:
    kubernetes.io/os: linux
