apiVersion: v1
kind: Namespace
metadata:
  name: secret
---
apiVersion: v1
kind: Pod
metadata:
  name: busybox2
  namespace: secret
spec:
  containers:
  - image: busybox
    name: busy
    command: 
      - sleep
      - "3600"
    resources:
        requests:
          cpu: "100m"
          memory: "128Mi"
        limits:
          cpu: "500m"
          memory: "256Mi"