apiVersion: v1
kind: Pod
metadata:
  name: newhttpd
  namespace: default
spec:
  containers:
  - name: httpd
    image: httpd
    resources:
        requests:
          cpu: "200m"
          memory: "256Mi"
        limits:
          cpu: "1"
          memory: "512Mi"